<tr>
	<td>
		<span id="purchase">
	    <%= button_to "Toggle",
	    purchase_item_path(item),
 		method: :post,
	    remote: true %></td>
		</span>

	<td id="purchase">
		<%= item.purchased %>
	</td>
	<td><%= item.quantity %></td>
	<td><%= item.name %></td>
	<td><%=l item.created_at, format: :short %></td>
	<td><%= item.user.username %></td>
	<td><%= link_to 'Edit', edit_item_path(item.id), :class => 'btn btn-default' %></td>
</tr>