<%- model_class = Item -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Created from</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.name %></td>
        <td><%=l item.created_at, format: :short %></td>
        <td><%= item.user_id %></td>
        <td><%= link_to 'Edit', edit_item_path(item.id), :class => 'btn btn-default' %></td>
      </tr>
      <%= will_paginate %>
    <% end %>
    <%= current_user.username %>
    <%= current_user.id %>
  </tbody>
</table>


