<%- model_class = Item -%>

<%= form_for(Item.new, remote: true) do |f| %>
  <div class="form-group">
    <div class="field">
      <%= f.label :name, :class => 'control-label col-md-2' %>
      <%= f.text_field :name, :class => 'text-field form-control' %>
      <%= f.label :quantity, :class => 'control-label col-md-2' %> 
      <%= f.number_field :quantity, :class => 'text-field form-control' %>
    </div>
    <div class='actions'>
        <%= f.submit :class => 'btn btn-primary'%>
    </div>
  </div>
<% end %> 




<table id="items" class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="items">
    <%= render @items %>
  </tbody>
</table>