<%- model_class = Item -%>

<%= form_for(Item.new, remote: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :quantity %> 
    <%= f.number_field :quantity %>
  </div>
  <div class='actions'>
      <%= f.submit %>
  </div>
<% end %> 



<div id="items"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Purchased?</th>
        <th><%= model_class.human_attribute_name(:quantity) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th>Created from</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
      <%= render @items %>
  </div>
</table>