<%- model_class = Item -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:purchased) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Created from</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.name %></td>
        <td><%= item.purchased %></td>
        <td><%=l item.created_at, format: :short %></td>
        <td><%= item.user(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' %>
