<%= form_for(Item.new, remote: true) do |f| %>
  
<div class="form">
  <div data-role="fieldcontain">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :quantity %> 
    <%= f.number_field :quantity %>
  </div>
</div>
<div class='actions'>
    <%= f.submit %>
</div>
  
<% end %> 